In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("subscriptions_mix.csv") #original dataset
df2 = pd.read_csv("subscriptions_60000 (1).csv") #new dataset

C:\Users\Felix Ferdinad\AppData\Local\Temp\ipykernel_11608\3361060510.py:1: DtypeWarning: Columns (4,6,10,13,16,18,20,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("subscriptions_mix.csv")
C:\Users\Felix Ferdinad\AppData\Local\Temp\ipykernel_11608\3361060510.py:2: DtypeWarning: Columns (22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("subscriptions_60000 (1).csv")

In [3]:
df.isna().sum() #check for missing values in the dataframe

id                        0
created_at                0
country                   0
operator                  0
service                   0
source                  604
msisdn                    0
status                    0
cycle                     0
adnet                161443
revenue                   0
subs_date                 0
renewal_date              0
freemium_end_date    108911
unsubs_from          245453
unsubs_date          204626
service_price             0
currency               5721
profile_status        27397
publisher            197964
trxid                188763
pixel                219888
handset              211738
browser              208785
attempt_charging          0
success_billing           0
dtype: int64

In [4]:
df2.isna().sum() #checks more null value

id                       0
created_at               0
country                  0
operator                 0
service                  0
source               10644
msisdn                   0
status                   0
cycle                    1
adnet                26938
revenue                  0
subs_date                0
renewal_date            33
freemium_end_date    35527
unsubs_from          31174
unsubs_date          23198
service_price            0
currency             12744
profile_status       17600
publisher            34339
trxid                23735
pixel                44687
handset              43752
browser              37664
attempt_charging         0
success_billing          0
dtype: int64

In [5]:
subs_df_merged = pd.concat([df, df2])

In [6]:
subs_df_merged

,id,created_at,country,operator,service,source,msisdn,status,cycle,adnet,...,service_price,currency,profile_status,publisher,trxid,pixel,handset,browser,attempt_charging,success_billing
0,302164,2023-09-13 09:47:57.713,TH,ais,459505104,sms,66988602911,0,daily,NaN,...,6,BATH,Active,NaN,20230913070749401088.0,NaN,NaN,NaN,15,0
1,3521,2023-09-13 09:21:13.679,TH,ais,459505104,sms,66822243080,0,daily,NaN,...,6,BATH,Active,NaN,20230913070724300800.0,NaN,NaN,NaN,15,0
2,1,2023-09-13 09:20:20.727,TH,ais,459505106,ivr,666131,0,1,NaN,...,6,BATH,Active,NaN,20230825140205699072.0,NaN,NaN,NaN,1,1
3,4999335,2023-09-13 14:00:22.171,TH,ais,459505105,wap,66650020857,0,daily,star,...,6,BATH,Active,star,20230913071052099584.0,star-APP1694223212644066,NaN,NaN,5,0
4,273196,2023-09-13 09:45:33.449,TH,ais,459505104,sms,66635959286,0,daily,NaN,...,6,BATH,Active,NaN,20230913070115598336.0,NaN,NaN,NaN,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56698,97584,30:20.3,TH,ais,459509903,sms,66808868699,0,daily,NaN,...,6,BATH,Active,NaN,NaN,NaN,NaN,NaN,0,0
56699,384166,55:22.9,TH,ais,459505105,wap,66615676784,1,daily,mpl,...,6,BATH,Active,NaN,2.02310030713143E+019,NaN,NaN,NaN,35,0
56700,27966473,35:16.7,TH,aisgemezz,GE,SMS,66989754515,1,daily,BTM,...,0,BAHT,Active,NaN,ad25621@CPE6:BFHi9IBe,NaN,NaN,NaN,112,14
56701,187009,37:18.2,TH,ais,459509903,sms,66806582058,0,daily,NaN,...,6,BATH,Active,NaN,NaN,NaN,NaN,NaN,0,0
56702,27906860,30:21.1,TH,aisgemezz,GE,SMS,66822874228,0,daily,BTM,...,0,BAHT,Unsub,NaN,NaN,NaN,NaN,NaN,0,0

In [7]:
subs_df_merged.isna().sum()

id                        0
created_at                0
country                   0
operator                  0
service                   0
source                11248
msisdn                    0
status                    0
cycle                     1
adnet                188381
revenue                   0
subs_date                 0
renewal_date             33
freemium_end_date    144438
unsubs_from          276627
unsubs_date          227824
service_price             0
currency              18465
profile_status        44997
publisher            232303
trxid                212498
pixel                264575
handset              255490
browser              246449
attempt_charging          0
success_billing           0
dtype: int64

In [9]:
subs_df_merged.to_csv("subscriptions_merged.csv")